<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Складушки</title>
</head>
<body>

<p><a href="http://127.0.0.1:8000/">Главная страница</a></p>
<p><a href="http://127.0.0.1:8000/about/">О сайте</a></p>
<p><a href="http://127.0.0.1:8000/contacts/">Контакты</a></p>
<p><a href="http://127.0.0.1:8000/register/">Создать анкету</a></p>
<p><a href="http://127.0.0.1:8000/login/">Войти</a></p>
<p><a href="http://127.0.0.1:8000/forgot_password/">Забыли пароль</a></p>
<p><a href="http://127.0.0.1:8000/categories/">Категории</a></p>

</body>
</html>