body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header__logo {
  color: rgb(246, 175, 211);
}
header {
  padding: 1rem;
  text-align: center;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__wrap {
  display: flex;
  flex: 1;
}

aside {
  background-color: #ddd;
  padding: 1rem;
  width: 25%;
  position: fixed;
  top: 60px;
  bottom: 0;
  display: flex;
align-items: center;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  margin-left: 25%; /* Учтем ширину сайдбара */
}

footer {
  padding: 20px 0;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.header_menu-item {
  padding-left: 5px;
  padding-right: 5px;
}
.header_btn,.sidebar_btn {
  padding: 5px 8px;
}
.sidebar_btn {
  margin-top: 20px;
}
.sidebar_btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.sidebar_input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}
.sidebar_btn-box2 {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header_menu-box {
  display: flex;
  align-items: center;
  width: 100%;
};

